<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Chat</title>

    <style>
        body {
            background-color: #3b3b3b;
            color: #f1f1f1;
        }
    </style>
</head>
<body>
    <h1>Chat</h1>
    <div id="chat">

    </div>
    <br>
    <input type="text" name="" id="msg" placeholder="Digite sua mensagem...">
    <input type="text" name="" id="username" placeholder="Usuário">
    <button onclick="send()">Submit</button>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js" integrity="sha512-tE1z+95+lMCGwy+9PnKgUSIeHhvioC9lMlI7rLWU0Ps3XTdjRygLcy4mLuL0JAoK4TLdQEyP0yOl/9dMOqpH/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    // Socket IO Connection
    let socket = io('http://localhost:3001')
    
    // Fields Elements
    let msgField = document.querySelector('#msg');
    let userField = document.querySelector('#username');
    
    // Chat Elements
    
    function showMessage(data) {
        let chat = document.querySelector('#chat');
        let message = document.createElement('p');
        message.innerHTML = data.username  + ': ' + data.msg;
        chat.append(message);
    }
    
    function clearFields() {
        msgField.value = ''
        msgField.focus()
    }
    
    socket.on('disconnect', () => {
        console.log('Disconectado')
    })
    
    socket.on('showMsg', (data) => {
        showMessage(data);
        clearFields() 
    })

    function send() {
        socket.emit('msg', { msg: msgField.value, username: userField.value })
    }

</script>
</html>